.card-img-top {
  height: 180px;
}

.card-container {
  perspective: 1000px;
}

.card {
  width: 18rem;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
}
.hidden-star {
  display: none;
}
